body {
  background-color: var(--grey);
  font-family: 'Kanit', sans-serif;
  font-family: 'Quicksand', sans-serif;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.App {
  text-align: center;
  overflow: hidden;
}

.container {
  width: 100vw;

  scroll-behavior:smooth;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: calc(100vh - 52px);
}

.container section {
  scroll-snap-align: start end;
  min-height: calc(100vh - 52px);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

@media only screen and (max-width: 1000px) {

}